<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(año)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora provident ducimus, eaque omnis architecto laudantium culpa autem maxime, quis rem consequuntur. Ipsam qui voluptatum minima commodi quisquam sunt, quam accusantium?</p>
            </li>
            <li>
                <h1>Estudio 2</h1> - <h3>(año)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, eligendi laudantium obcaecati sed quidem praesentium illo vitae debitis maiores, inventore vel voluptatum minus! Ex magnam deserunt id dolorem, nobis quia?</p>
            </li>
            <li>
                <h1>Estudio 3</h1> - <h3>(año)</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, animi aut. Aliquid expedita laudantium eveniet, beatae magni aut iusto obcaecati nesciunt delectus ex error dignissimos, alias rem ullam doloremque sed.</p>
            </li>
        </ul>
    </div>
</div>
