.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 7px;
}
#logoAP{
    width: 150px;
}
img{
    width: 50px;
}
.btn{
    border-width: medium;
}
.redes img{
    margin: 4px;
}
.btn{
    margin-left: 7px;
}
/*--- Para la lista de celular ---*/
@media(max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: line;
        align-items: center;
    }
    .redes img{
        margin: 4px;
    }
}
