<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto perfil.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mí</h2>
            <p>Me considero una persona proactiva con mucha iniciativa, interesada en incorporarse a una comunidad donde sea posible el desarrollo personal y profesional, que permita poner en práctica y adquirir nuevos conocimientos, habilidades y destrezas que demanda el avance de la ciencia y tecnología, altamente sociable, respetuoso y de buenos valores.</p>
        </span>
    </div>
</div>

